<!DOCTYPE html>
<html>
<head>
    <title>Finalyze</title>
</head>
<body>

    <h1>Finalyze</h1>

    <form method="POST">
        <label>Amount:</label>
        <input type="number" name="amount" required><br><br>

        <label>Category:</label>
        <input type="text" name="category" required><br><br>

        <label>Description:</label>
        <input type="text" name="description" required><br><br>

        <button type="submit">Add Expense</button>
    </form>

    <h2>All Expenses</h2>

    <ul>
        <table border="1" cellpadding="5">
    <tr>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
    </tr>

    {% for expense in expenses %}
    <tr>
        <td>₹{{ "%.2f"|format(expense.amount) }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.date }}</td>
    </tr>
    {% endfor %}
</table>
    </ul>

</body>
</html>